*{
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.sidebar{
    width: 170px;
    background-color: red;
}

.sidebar ul {
    width: 100%;
    padding: 0;
}

.sidebar ul li {
    list-style: none;
    padding: 5px 0;
    color: #ffffff;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
}

.contents{
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.items {
    width: 24%;
    height: 180px;
    background-image: ;
}

